body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: white;
}

nav li  {
    list-style: none;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

section {
    padding: 20px;
    padding-bottom: 6rem;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Add some style to the featured restaurants on the home page */
section h2 {
    color: #333;
}

section p {
    color: #666;
}

/* Style the "Read Reviews" links */
section a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

/* Style the form on the Add Review page */
form {
    max-width: 400px;
    margin: auto;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input,
form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

form button {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
    nav {
        flex-direction: column;
        align-items: center;
    }
}
